@{
    ViewBag.Title = "Contact";
}
    <br/>
    <img src="/Images/SekulKamberov.png" style="width:170px;height:170px; background: #FFFFFF; margin: auto; 
            -moz-border-radius: 80px; border-radius: 100px; padding: 5px; box-shadow: 0px 0px 20px #888;" />
    <br /> <br />
    <address>
        AddsSystem - One Microsoft Way<br />
        Sekul Kamberov <br />
        Bulgaria, Sofia 1000<br />
        <abbr title="Phone">Phone:</abbr>
        +359 899 750 224
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:sekul.net@gmail.com">sekul.net@gmail.com</a>
    </address>