@{
    ViewBag.Title = "Home Page";
}
<table border="0" bordercolor="#aaa" cellspacing="10" cellpadding="50">
    <tr>
        <td><a href="#" data-toggle="tooltip" title="Hello budy :) come on .. let's go :) We all love our animal friends unconditionally. 
             But let’s admit it - it’s fun to mess with them from time to time. 
             It all comes from a place of deep love after all… Love they couldn't care less for sometimes.
             Share pictures of you mildly annoying your pets.">
            <img src="/Images/CatsLogoBig.jpg" style='width:99%;' border="0" /></a></td>
    </tr>

    <tr>
        <td><img src="/Images/everythinkCats.png" style='width:63%;' /><img src="/Images/NubelsDog.jpg" style='width:37%;' /></td>
    </tr>

    <tr>
        <td><img src="/Images/LoveLogo.png" style='width:100%;' /></td>
    </tr>

    <tr>
        <td><img src="/Images/HomestayLogo.png" style='width:70%;' /></td>
    </tr>
    <tr>
        <td><img src="/Images/LuxLogo.png" style='width:100%;' /></td>
    </tr>
    <tr>
        <td><img src="/Images/Zanzo.png" style='width:100%;' /></td>
    </tr>
    <tr>
        <td><img src="/Images/ZooLogo.jpg" style='width:100%;' /></td>
    </tr>
</table>

<div class="jumbotron">
    <h1>AddsSystem - Animal Shop</h1>
    <p class="lead">Simple ads for selling pets</p>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

